name: Deploy | PROD
run-name: Deploy to `${{ github.event.inputs.branch }}` by @${{ github.actor }}
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  workflow_dispatch:
    inputs:
      branch:
        type: choice
        required: true
        description: Select a PROD branch
        options: ["", "prod", "test2"]
      commitSHA:
        type: string
        required: false
        description: "And input a valid commit SHA to reset the UAT branch to \n(Optional: defaults to latest commit if empty)"
      token:
        type: string
        description: Deploy token, generate one with `repo` permission
        required: true
jobs:
  deploy_prod_head:
    if: github.event.inputs.commitSHA == ''
    runs-on: ubuntu-latest
    steps:
      - name: Checkout and fetch main branch
        uses: actions/checkout@v3
        with:
          token: ${{github.event.inputs.token}}
          ref: ${{github.event.repository.default_branch}}

      - name: Get the commit message
        id: step2
        run: |
          MSG=$(git log -1 --pretty=format:%s)
          echo "COMMIT_MESSAGE=${MSG}" >> $GITHUB_OUTPUT

      - name: Check if commit message starts with `Refactor8`
        run: |
          echo "commit message: ${{steps.step2.outputs.COMMIT_MESSAGE}}"
          [[ "${{steps.step2.outputs.COMMIT_MESSAGE}}" = \Refactor8* ]] && exit 0

      - name: Run the deployment using latest commit from default branch
        run: |
          echo "Using default branch: ${{github.event.repository.default_branch}}"
          git fetch
          git checkout ${{github.event.inputs.branch}}
          git reset --hard ${{github.event.repository.default_branch}}
          echo "Commit msg: $(git log -1 --pretty=format:%s)"
        # git push origin ${{github.event.inputs.branch}} --force-with-lease

  deploy_prod_sha:
    if: github.event.inputs.commitSHA != ''
    runs-on: ubuntu-latest
    steps:
      - name: Checkout and fetch using provided commit SHA
        uses: actions/checkout@v3
        with:
          token: ${{github.event.inputs.token}}
          ref: ${{github.event.inputs.commitSHA}}

      - name: Get the commit message
        id: step2
        run: |
          SHA="${{github.event.inputs.commitSHA}}"
          MSG=$(git log -1 --pretty=format:%s $SHA)
          echo "COMMIT_MESSAGE=${MSG}" >> $GITHUB_OUTPUT

      - name: Check if commit message starts with `PROD`
        run: |
          echo "commit message: ${{steps.step2.outputs.COMMIT_MESSAGE}}"
          [[ "${{steps.step2.outputs.COMMIT_MESSAGE}}" = \PROD* ]] && exit 0

      - name: Run the deployment using provided commit SHA
        if: ${{github.event.inputs.commitSHA != ''}}
        run: |
          echo "Using commit #: ${{github.event.inputs.commitSHA}}"
          git fetch
          git checkout ${{github.event.inputs.branch}}
          git reset --hard ${{github.event.inputs.commitSHA}}
          echo "Commit msg: $(git log -1 --pretty=format:%s)"
        # git push origin ${{github.event.inputs.branch}} --force-with-lease


# DEPLOY PROD HEAD
# 1. Checkout and fetch main / default_branch
# 2. Checkout and fetch prod/mainnet
# 3. git reset --hard main / default_branch
# 4. git push origin prod/mainnet --force-with-lease

# DEPLOY PROD COMMIT SHA
# 1. Check if provided commit SHA exists
# 2. Checkout and fetch <commit SHA>
# 3. Get the commit message from <commit SHA>
# 4. Check if commit message starts with `Release v`
# 5. Checkout and fetch prod/mainnet
# 3. git reset --hard <commit SHA>
# 4. git push origin prod/mainnet --force-with-lease